/*HERO SECTION*/
.hero-page{
    display: flex;
    flex-direction: row;
    height: 1125px;
    background: url('/images/court1.png') center/cover no-repeat;
}

.hero-text{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.hero-text-container{
    text-align: right;
    margin: 100px;
}

.justice{
    font-size: 64px;
    color: #E0E0E0;
    margin-bottom: 0;
}

.your-reach{
    color: #E4AA5C;
}

.justice-desc{
    font-family: Open Sans, Arial;
    font-size: 20px;
    margin-top: 0px;
    color: #E0E0E0;
}

.hero-buttons{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
}

.hero-button-container{
    display: flex;
    flex-direction: column;
    margin: 80px;
}

.hero-book, .hero-explore{
    width: 400px;
    border: none;
    text-align: left;
    margin: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #E0E0E0;
}

/*FIRM OVERVIEW*/
.about-us{
    height: 750px;
    background-color: #570907; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/*////////////////////////////ABOUt US LEFT//////////////////////////*/
.about-us-left{
    height: 100%;
    width: 30%;
    position: relative;
}

.j-logo-img{
    width: 150vh;
}
.lady-justice{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -35vh;
    z-index: 100;
}

.lady-justice-img{
    height: 80vh;
    position: absolute;
    right: 0;
    bottom: 0;
}

/*////////////////////////////ABOUt US RIGHT//////////////////////////*/

.about-us-right{
    height: 100%;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.up{
    height: 20%;
}

.marble{
    background-color: #F0EFE2;
    background-image: 
        linear-gradient(rgba(240,235,227,0.6), rgba(240,235,227,0.6)),
        url('/images/marble.png');
    background-size: cover;
    flex: 1;
    border-top-left-radius: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-text{
    width: 40vh;
    text-align: left;
}


.fierce-text{
    font-size: 3vh;
    color: #570907;
}

.filipino-word{
    color: #E4AA5C;
}

.founded-text{
    font-family: Open Sans, Arial;
}

.combine-text{
    font-family: Open Sans, Arial;
}


.experience-handled{
    display: flex;
    justify-content: space-between;
}

.experience-handled h1{
    color: #E4AA5C;
    font-size: 4vh;
    margin: 0;
}

.experience-handled p{
    font-family: Open Sans, Arial;
    font-size: 1.5vh;
    margin: 0;
}

.experience-handled span{
    color: #570907;
}

