/*HERO SECTION*/
.hero-page{
    display: flex;
    height: 60rem;
    background: url('/images/court1.png') center/cover no-repeat;
}

.hero-text{
    width: 65%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.hero-text-container{
    margin-right: 5rem;
    display: flex;
    justify-content: right;
    flex-direction: column;
    text-align: right;
}

.justice{
    font-size: 3rem;
    color: #E0E0E0;
    margin: 0;
}

.justice-desc{
    font-family: Open Sans, Arial;
    font-size: 1rem;
    color: #E0E0E0;
    margin: 0;
    width: 35rem;
}

.your-reach{
    color: #E4AA5C;
}

.hero-buttons{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 1;
}

.hero-button-container{
    display: flex;
    flex-direction: column;
    margin: 5rem;
}

.hero-book, .hero-explore{
    width: 20rem;
    border: none;
    text-align: left;
    margin: 0.5rem;
    font-size: 1rem;
    font-family: Inter, Arial;
    background-color: rgba(0, 0, 0, 0);
    color: #E0E0E0;
}

/*FIRM OVERVIEW*/
.about-us{
    height: 60rem;
    background-color: #570907; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/*////////////////////////////ABOUt US LEFT//////////////////////////*/
.about-us-left{
    height: 100%;
    width: 30%;
    position: relative;
}

.j-logo-img{
    width: 120rem;
}
.lady-justice{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -28rem;
    z-index: 1;
}

.lady-justice-img{
    height: 60rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

/*////////////////////////////ABOUt US RIGHT//////////////////////////*/

.about-us-right{
    height: 100%;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.up{
    height: 20%;
}

.marble{
    background-color: #F0EFE2;
    background-image: 
        linear-gradient(rgba(240,235,227,0.6), rgba(240,235,227,0.6)),
        url('/images/marble.png');
    background-size: cover;
    flex: 1;
    border-top-left-radius: 10rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-text{
    width: 40vh;
    text-align: left;
}


.fierce-text{
    font-size: 3vh;
    color: #570907;
}

.filipino-word{
    color: #E4AA5C;
}

.founded-text{
    font-family: Open Sans, Arial;
}

.combine-text{
    font-family: Open Sans, Arial;
}


.experience-handled{
    display: flex;
    justify-content: space-between;
}

.experience-handled h1{
    color: #E4AA5C;
    font-size: 4vh;
    margin: 0;
}

.experience-handled p{
    font-family: Open Sans, Arial;
    font-size: 1.5vh;
    margin: 0;
}

.experience-handled span{
    color: #570907;
}

/*FIRM EXPERTISE*/
.expertise{
    height: 60rem;
}

.expertise-top{
    display: flex;
}

.expertise-left{
    background-image: url('/images/building1.png');
    width: 30%;
    display: flex;
    justify-content: center;
}

.our-expertise{
    margin-top: 10rem;
    text-align: justify;
}

.expertise-text{
    font-size: 3rem;
    color: #F0EFE2;
}

.comprehensive{
    color: #F0EFE2;
    width: 20rem;
    font-size: 1.5rem;
}

.expertise-right{
    background-color: #F0EFE2;
    background-image: 
        linear-gradient(rgba(240,235,227,0.6), rgba(240,235,227,0.6)),
        url('/images/marble.png');
    background-size: cover;
    flex: 1;
    border-bottom-left-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.exp-grid{
    display: grid;
    grid-template-columns: 30rem 30rem;
}

.exp-card{
    background-color: #570907;
    border: none;
    border-radius: 1rem;
    height: 12rem;
    text-align: center;
    margin: 3rem;
    padding: 1rem;
}

.exp-card h2{
    color: #E4AA5C;
    font-size: 2rem;
}

.exp-card p{
    color: #F0EFE2;
    font-family: Inter, Arial;
    font-size: 1rem;
    line-height: 2rem;
}

.expertise-bottom{
    display: flex;
}

.expertise-lower-left{
    background-color: #570907;
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.fees{
    color: #F0EFE2;
}

.transparent-text{
    font-size: 2.5rem;
    width: 20rem;
}


.expertise-lower-right{
    background-color: #E4AA5C;
    flex: 1;
}


