/*NAV BAR*/
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.514);
    color: #E0E0E0;
    display: flex;
    justify-content: center;
    height: 5rem;
    z-index: 100;
}

.page-sections{
    text-align: right;
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

.section{
    display: inline-block;
    margin-right: 2rem;
    font-size: 1rem;
    font-weight: 200;
}

.nav-logo{
    text-align: left;
    display: flex;
    align-items: center;
}

.nav-logo-img{
    width: 9rem;
    margin-left: 3rem;
}